vcf-anchor-nav {
    --anchor-nav-header-padding: 0 var(--lumo-space-m);
    --anchor-nav-inner-background: var(--lumo-base-color);
    --anchor-nav-tabs-background: var(--lumo-base-color);
}

vcf-anchor-nav-section {
    --anchor-nav-section-border-color: var(--lumo-contrast-10pct);
    --anchor-nav-section-header-padding: var(--lumo-space-m);
    --anchor-nav-section-content-padding: var(--lumo-space-m);
}
